<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Facebook Client</title>
</head>
<body>
  <div class="page">
    <div class="header">
      <div class="topNav">
        <ul>
            <li>
              <a href='/facebook_profile'>Facebook Profile</a>
            </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
