<div class="new_wall_post">
  <h2>Post a message on the Facebook wall</h2>
  <form method="post" action="/wall_post">
    <fieldset>
      <label for="message">Message :</label>
      <textarea rows="3" cols="50" name="message" id="message"></textarea>
    </fieldset>
    <input type="submit" value="Post" />
  </form>
</div>